<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    메인 페이지 <br>

    {% if user.is_authenticated %}
      <a href="{% url 'user:signout' %}">로그아웃</a> <br>
      <a href="{% url 'article:new' %}">글 작성</a>
    {% else %}
      <a href="{% url 'user:signin' %}">로그인</a> <br>
      <a href="{% url 'user:signup' %}">회원가입</a>
    {% endif %}

    <hr>

    {% for article in page_obj %}
      <div>
        <a href="{%url 'article:detail' id=article.id %}">{{article.title}}</a>        
        {{article.content}}
        {{article.author.username}}

        <a href="{% url 'article:edit' id=article.id %}">글 수정</a>
        <a href="{% url 'article:destroy' id=article.id %}">글 삭제</a>
      </div>
    {% endfor %}
    <span>
      <hr>
      {%if page_obj.has_previous %}
      <a href="?page=1">처음으로</a>
      <a href="?page={{ page_obj.previous_page_number }}">이전</a>
      {% endif %}

      {% for page_number in page_obj.paginator.page_range %}
      {% if page_number == page_obj.number %}

      <a href="?&page={{ page_number }}">{{ page_number }}</a>

      {% else %}

      <a href="?&page={{ page_number }}">{{ page_number }}</a>

      {% endif %}
      {% endfor %}

      {%if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">다음</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">마지막으로</a>
      {% endif %}
  </span>
  </body>
</html>
